/**
 All the overrides for website styles
*/
/* Handle Images in Posts*/
figure.imageleft {
  width: 50%;
  float: left; 
  margin-right: 1rem !important;
  margin-bottom: 1rem !important;
  border: none;
}

figure.imageleft fig-caption 
{
  float: left;
  text-align: center;
}

figure.imageleft img {
  width: 90%;
  float: none !important; 
  margin: auto !important;
  border: none;
}

figure.imageright {
  width: 50%;
  float: right; 
  margin-left: 1rem !important;
  margin-bottom: 1rem !important;
  border: none;
}

figure.imageright fig-caption 
{
  float: right;
  text-align: center;
}

figure.imageright img {
  width: 90%;
  float: none !important; 
  margin: auto !important;
  border: none;
}

.img-imageleft {
  float: left; 
  margin-right: 1rem !important;
  padding-bottom: 1rem !important;
  border: none;
}

.img-imageright {
  float: right; 
  margin-left: 1rem !important;
  margin-bottom: 1rem !important;
  border: none;
}

.blueglow {
  box-shadow:0px 0px 10px 2px #2d96bdba;
}

/* Handle Menu for website*/
.promote {
  color: orange !important; 
  font-size: 0.75rem; 
  font-weight: 600;
  padding: 5px 0 0 0;
}

img.img {
  height: 20px;
  width: 20px;
  margin: -4px auto;
}

img.svg {
  height: 20px;
  width: 20px;
  margin: -4px auto;
  transform: scaleX(-1);
}

.menu-item:hover img.svg{
  transform: scaleX(1);
}

[theme=dark] .transparent {
  opacity: 0.9;
}

.transparent {
  opacity: 0.7;
}

/* Handle Posts */
.sharebtns {
  float: right;
}

.sharebtns a {
  margin: auto 5px;
  font-size: 1.2rem;
}

/* Handle Featured Posts */
.feat-section {
  display: flex;
  min-width: 100%;
}

@media only screen and (max-width: 1200px) {
  .feat-section {
    display: block;
  }

  .feat-section .feat-post {
    margin: 1.5rem 0 !important;
  }
}

.feat-post {
  border: 1px solid goldenrod !important; 
  box-shadow: 0px 0px 5px 0px gold !important;
  margin: 0 0.25rem !important;
}

.feat-footer {
  display: flex;
  justify-content: space-between;
}
.feat-footer a{
  text-decoration: none;
  color: #2d96bd !important;
  font-size: .875rem !important;
}
.feat-footer .post-tags{
  float: right;
  max-width: 65%;
  word-break: break-all;
}

.feat-post {
  font-size: medium;
}
.feat-post .single-title a{
  text-shadow: 0px 0px 5px 0px gold !important;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.feat-meta .feat-author a {
  font-size: small !important;
  font-weight: 600;
}
.p3 article {
  flex: 33%;
}
.p2 article {
  flex: 50%;
}
.p1 article {
  flex: 100%;
}

/* sidebar */
aside.sidebar {
  width: 230px;
  position: absolute;
  top: 160px;
  left: -260px;
  border-right: 4px solid #f0f0f0;
  padding: 0 15px 0 0;
}
[theme=dark] aside.sidebar {
  border-right-color: #363636;
}
.sidebar_inner h2 {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.sidebar_inner a:hover {
  color: #2d96bd;
}
.sidebar_inner a, a::before, a::after {
  color: #161209;
}

[theme=dark] .sidebar_inner a, [theme=dark] .sidebar_inner a::before, [theme=dark] .sidebar_inner a::after {
  color: #a9a9b3;
}
.sidebar_inner ul {
  list-style: none;
}
.sidebar_inner li {
  margin-left: -2.5rem;
  display: list-item;
}
.sidebar_inner ul a:first-child::before {
  content: "|";
  font-weight: bolder;
  margin-right: .5rem;
  color: #2d96bd;
}

.sidebar .button {
  background-color: #0077b8;
  color: #fff;
  display: inline-flex;
  margin: 0.15rem;
  padding: 0.1rem 0.4rem;
  text-transform: uppercase;
  border: 1px solid #0077b8;
  border-radius: 0.75rem;
  font-size: 0.8rem;
  align-items: center;
  user-select: none;
  min-height: 1.5rem;
  font-weight: 500;
}
.sidebar .button_translucent {
  background-color: rgba(0,119,184,0.15);
  color: #0077b8;
  border: 1px solid transparent;
}
.sidebar .button_tally {
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  background-color: #0077b8;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 0 0 0 0.5rem;
  font-size: 0.7rem;
  height: 1.25rem;
  font-weight: 700;
}

/* TOC Twitter feed*/
.twitter-title {
  margin: 2rem 0 0.5rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.twitterfeed {
  position: relative; 
  margin-top: 1rem;
}