/**
 All the overrides for website styles
*/

.cap::first-letter {
    --x-height-multiplier: 0.342;
    --baseline-multiplier: 0.22;
    letter-spacing: -.02em;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0;
    font-size: 60px;
    padding-top: 3px;
    margin-left: -5px;
    margin-right: 7px;
    letter-spacing: -.03em;
    line-height: .83;
    margin-bottom: -.08em;
    float: left;
}